$color_1: black;
$color_2: inherit;
$color_3: white;
$font-family_1: 'Space Mono';
$font-family_2: 'Poppins';
$background-color_1: $color_1;
$background-color_2: $color_3;
$background-color_3: #D8D8D8;
$background-color_4: darkgray;
$background-color_5: #E00000;